{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}History{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('data.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex h-100 justify-content-md-center">
        <!--
        <div class="col-md-auto align-self-center">


        <div class="col-6 col-lg-4">
            <div class="col-md-auto align-self-center">
            <h4 class="text-center">Statistic</h4>
            {{ div[0] | safe }}
            {{ script[0] | safe }}

        </div>-->
        <div class="col-12 col-lg-8">
            <div class="card" style="border-radius: 1rem;">
                <div class="card-header">
                    Glucose - history
                </div>
                <div class="card-body" style="padding: 0rem">
                    <table id="data" class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>Glucose</th>
                    <th>Time</th>
                    <th>Source</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for single in data %}
                <tr>
                    <td>{{ single.glucose }}</td>
                    <td>{{ single.custom_date }}</td>
                    <td>{{ single.name }}</td>
                    <td><a class="btn btn-secondary btn-sm" href="{{ url_for('data.update', id=single['id']) }}"
                                   type="button">Edit</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>


        </div>

    </div>

</div>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.js"></script>

<script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
    $('#data').dataTable({searching: false, "dom": '<"row">t<"col-lg-6 text-center justify-content-md-center"p>', "pageLength": 20,'columnDefs': [
    {
        "targets": "_all",
        "className": "text-center"
   }
 ]
  });

</script>
{% endblock %}