{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}History{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-12 col-lg-12">
        <div class="card" style="border-radius: 1rem;">
            <div class="card-header">
                Glucose for {{ date }}
            </div>
            <div class="card-body">
                {{ div[0] | safe }}
                {{ script[0] | safe }}

                <form method="post">
                    <div class=" pt-5 text-center">
                        <div class="row justify-content-md-center">


                            <div class="col-md-3">
                                <div class="form-outline">

                                    <input name="date" id="date" class="form-control form-control-lg"
                                           value="{{ request.form['date'] }}" placeholder="DD/MM/YYYY" type="text"/>
                                    <label class="form-label" for="date">Date</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <button class="btn btn-primary btn-lg btn-block" type="submit" value="Save">Go</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>
<script>
     $(document).ready(function(){
      var date = new Date();
      var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

      var date_input=$('input[name="date"]');
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);

      $( '#date' ).datepicker( 'setDate', today );


    });
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {

    var name = document.getElementById("customFileInput").files[0].name;

    var nextSibling = e.target.nextElementSibling

    nextSibling.innerText = name

  })




</script>
{% endblock %}