{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2 bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <span class="navbar-brand mb-0 h1">Aplikacja</span>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.dashboard') }}"> Dashboard </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('data.glucose.all') }}"
                           id="navbarDropdownMenuLink2"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            User Data
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="{{ url_for('data.glucose.all') }}">Glucose</a>
                            <a class="dropdown-item" href="{{ url_for('data.insulin.all') }}">Insulin</a>
                            <a class="dropdown-item" href="{{ url_for('data.files') }}">Files</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('data.glucose.all') }}"
                           id="navbarDropdownMenuLink"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Add entry
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('data.glucose.create') }}">Glucose</a>
                            <a class="dropdown-item" href="{{ url_for('data.insulin.create') }}">Insulin</a>

                        </div>
                    </li>
                    <p></p>
                    <li class="nav-item"><a class="nav-link bg-secondary mb-0 h4 text-light" href="#"> Tools </a>
                    <li class="nav-item"><a class="nav-link bg-secondary text-light" href="{{ url_for('dashboard.twoWeeksGraph') }}"> Last 14 days </a>
                    <li class="nav-item"><a class="nav-link bg-secondary text-light" href="{{ url_for('dashboard.base') }}"> Base review </a>
                    <li class="nav-item"><a class="nav-link bg-secondary text-light" href="{{ url_for('dashboard.compare') }}"> Comparison over time </a>
                    <li class="nav-item"><a class="nav-link bg-secondary text-light" href="{{ url_for('dashboard.graph') }}"> Single day review </a>
                    <p></p>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('data.personal.show') }}"> Personal </a>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col">
        <div class="container">
            <p></p>
            <div class="row d-flex h-100 justify-content-center">

                <div class="col-3 col-lg-3">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-header">
                            Statistic
                        </div>
                        <div class="card-body">
                            <p class="stat1">Average glucose&#58; {{ stat[0] }} mg/dl</p>
                            <hr>
                            <p class="stat2">Time over 180&#58; {{ stat[1] }} &#37;</p>
                            <hr>
                            <p class="stat3">Insulin per day&#58; {{ stat[2] }} units</p>
                            <hr>
                            <p class="stat4">Insulin doses per day&#58; {{ stat[3] }}</p>
                        </div>
                    </div>
                    <p></p>
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-header">
                            Glucose range ratio
                        </div>
                        <div class="card-body">
                            {{ div[1] | safe }}
                            {{ script[1] | safe }}
                        </div>
                    </div>
                    <p></p>
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-header">
                            Report
                        </div>
                        <div class="card-body">
                            <form method="post" action="{{ url_for('dashboard.download') }}">
                                <div class="card-body text-left py-0">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="personal">Personal
                                            information
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="glucose">Glucose
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="base">Base
                                        </label>
                                    </div>
                                    <div class="form-check  pb-2">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="blank">Blank
                                        </label>
                                    </div>
                                    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Save">Generate
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
                <div class="col-8 col-lg-8">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-header">
                            Average glucose
                        </div>
                        <div class="card-body">
                            {{ div[0] | safe }}
                            {{ script[0] | safe }}
                        </div>
                    </div>
                    <p></p>
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-header">
                            Base
                        </div>
                        <div class="card-body">
                            {{ div[2] | safe }}
                            {{ script[2] | safe }}
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>

</div>
<script>
</script>
{% endblock %}