{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important { color: #336699; }


</style>

{% endblock %}
{% block content %}
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">


        <div class="col">
            <div class="jumbotron bg-dark text-white">
                <h1 class="display-4">Application for collecting and analyzing glucose levels in diabetics</h1>
                <p></p>
                <p class="lead">Collect glucose and insulin data in one place. See them on interactive charts.</p>
                <hr class="my-4" style="background-color: rgb(20,20,20);">
                <p class="lead">Main features:</p>
                <p class="text-light">Dashboard for managing data and tools</p>
                <p class="text-light">Adding or uploading glucose data</p>
                <p class="text-light">Adding or uploading insulin data</p>
                <p class="text-light">Interactive visualization tools</p>
                <p class="text-light">Report generation</p>
                <hr class="my-4" style="background-color: rgb(20,20,20);">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{ url_for('auth.register') }}" role="button">Register now</a>
                     or
                    <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">Login</a>
                </p>
            </div>
        </div>

    </div>
</div>


{% endblock %}