{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}History{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('data.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="card shadow-2-strong px-3 py-1" style="border-radius: 1rem;">
            {% for data in all_data %}
            <article class="post">
                <header>
                    <div class="row d-flex justify-content-around align-items-center">
                        <h3>{{ data['glucose'] }}</h3>
                        <a class="btn btn-secondary btn-sm" href="{{ url_for('data.update', id=data['id']) }}" type="button" >Edit</a>
                    </div>

                    {% if g.user['id'] == data['author_id'] %}

                    {% endif %}

                </header>
                <p class="date">Date&#58; {{ data['custom_date']}}</p>
                <p class="date_org">Date&#58; {{ data['created'].strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <p class="activity">Activity&#58; {{ data['activity'] }}</p>
                <p class="info">Info&#58; {{ data['info'] }}</p>
            </article>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}