{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}New data{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <form method="post">
                <div class="card-body p-5 text-center">

                    <h3 class="mb-5">Add entry</h3>

                    <div class="form-outline mb-4">
                        <input name="glucose" id="glucose" class="form-control form-control-lg"
                               value="{{ request.form['glucose'] }}" required/>
                        <label class="form-label" for="glucose">Glucose</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input name="activity" id="activity" class="form-control form-control-lg"
                               value="{{ request.form['activity'] }}"/>
                        <label class="form-label" for="activity">Activity</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input name="info" id="info" class="form-control form-control-lg"
                               value="{{ request.form['info'] }}"/>
                        <label class="form-label" for="info">Info</label>
                    </div>

                    <div class="form-outline mb-4">

                        <input name="date" id="date" class="form-control form-control-lg"
                               value="{{ request.form['date'] }}" placeholder="DD/MM/YYY" type="text"/>
                        <label class="form-label" for="date">Date</label>
                    </div>



                    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Save">Save</button>


                </div>
                <script>
    $(document).ready(function(){
      var date = new Date();
      var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

      var date_input=$('input[name="date"]');
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);

      $( '#date' ).datepicker( 'setDate', today );

    })

                </script>


            </form>
        </div>

    </div>
</div>
{% endblock %}