{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Edit {{ data['amount'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <form method="post">


                    <h3 class="mb-5">Update entry</h3>

                    <div class="form-outline mb-4">
                        <input name="amount" id="amount" class="form-control form-control-lg"
                               value="{{ request.form['amount']  or data['amount'] }}" required/>
                        <label class="form-label" for="amount">Amount</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input name="period" id="period" class="form-control form-control-lg"
                               value="{{ request.form['period'] or data['period']}}"/>
                        <label class="form-label" for="period">Period</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input name="type" id="type" class="form-control form-control-lg"
                               value="{{ request.form['type'] or data['type']}}"/>
                        <label class="form-label" for="type">Type</label>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Save">Save</button>


                </form>
                <hr>
                <form action="{{ url_for('data.insulin.delete', id=data['id']) }}" method="post">
                    <input class="btn btn-danger btn-lg btn-block" type="submit" value="Delete"
                    >
                </form>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}